<!DOCTYPE html>
<html>
  <head>
    <title>Application.html.erb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Montserrat:400,700|Roboto" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./app/assets/stylesheets/style.css"> -->
    <!-- <link rel="stylesheet" href="./app/assets/stylesheets/application.scss"> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
